/* default */
.default-button {
	font-family: 'League Spartan', sans-serif;
	font-size: 16px;
	height: 44px;
	border: none;
	outline: none;
	border-radius: 9999px;
	cursor: pointer;
}

/* add invoice */
.add-invoice-button {
	width: 90px;
	background-color: var(--primary-indigo-color);
	color: var(--white-color);
}

.add-invoice-button:hover {
	background-color: var(--secondary-indigo-color);
}

.add-button-content {
	width: 100%;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.add-button-content-right {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white-color);
	width: 32px;
	height: 32px;
	border-radius: 9999px;
}

/* add item */
.add-item-button {
	width: 350px;
	color: var(--tertiary-indigo-color);
	background-color: var(--offwhite-color);
}

.add-item-button:hover {
	background-color: var(--bright-indigo-color);
	color: var(--tertiary-indigo-color);
}

/* edit */
.edit-dark-button {
	width: 75px;
	color: var(--bright-indigo-color);
	background-color: var(--primary-black-color);
}

.edit-dark-button:hover {
	background-color: var(--offwhite-color);
	color: var(--bright-indigo-color);
}

.edit-light-button {
	width: 75px;
	color: var(--bright-indigo-color);
	color: var(--tertiary-indigo-color);
}

.edit-light-button:hover {
	background-color: var(--bright-indigo-color);
	color: var(--tertiary-indigo-color);
}

@media (min-width: 768px) {
	.default-button {
		height: 50px;
	}

	.add-invoice-button {
		width: 160px;
	}

	.add-button-content {
		column-gap: 15px;
		padding-left: 3px;
	}

	.add-button-content-right {
		width: 34px;
		height: 34px;
	}

}

@media (min-width: 1110px) {
}
