.filter-container {
	width: 100%;
}

.filter-wrapper {
	display: flex;
	column-gap: 5px;
	align-items: center;
}

.arrow-icon {
	color: var(--primary-indigo-color);
	font-size: 20px;
	cursor: pointer;
}

.filter-select-wrapper {
	position: absolute;
	top: 10px;
	left: 0px;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.filter-select {
	height: 100%;
	width: 100%;
	margin-top: 30px;
	display: flex;
	margin-right: 10px;
	flex-direction: column;
	justify-content: space-around;
	width: 192px;
	height: 138px;
	border-radius: 8px;
	z-index: 100;
	padding: 20px;
	row-gap: 10px;
}

/* light mode */
.filter-select-light {
	box-shadow: 0.3em 0.3em 1em var(--bright-indigo-color),
		0 0 0 var(--bright-indigo-color);
	background-color: #fff;
}

/* dark mode */
.filter-select-dark {
	box-shadow: 0.1em 0.1em 1px var(--primary-black-color),
		0.1em 0.1em 0 var(--secondary-black-color);
	background-color: var(--less-black-color);
}

/* Reset default checkbox styles */
.checkbox-container {
	display: flex;
	align-items: center;
	column-gap: 12px;
}

.filter-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.filter-checkbox {
	position: relative;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 2px;
}

/* light mode */
.filter-checkbox-light {
	background-color: var(--bright-indigo-color);
}

/* dark mode */
.filter-checkbox-dark {
	background-color: var(--tertiary-black-color);
}

.filter-checkbox:checked {
	background-color: var(--primary-indigo-color);
	border: 1px solid var(--primary-indigo-color);
}

.filter-checkbox:checked:after {
	content: '';
	display: block;
	color: #fff;
	position: absolute;
	left: 6px;
	top: 1px;
	width: 4px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.filter-checkbox-label:hover {
	cursor: pointer;
}

.filter-checkbox:hover {
	border: 1px solid var(--primary-indigo-color);
	cursor: pointer;
}

@media (min-width: 768px) {
	.filter-select-wrapper {
		left: 70px;
	}
}

@media (min-width: 1110px) {
}
