.invoice-list-container {
	margin-top: 35px;
	height: 100%;
}

.invoice-list-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.empty-invoice-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.empty-invoice {
	width: 206px;
	height: 278px;
	display: flex;
	margin: 100px auto 0;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.empty-image {
	width: 100%;
}
