.invoice-list-item-container {
	width: 100%;
	height: 150px;
	padding: 17px 20px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 28px;
}

.invoice-list-item-container-light {
	background-color: var(--white-color);
}


.invoice-list-item-container-dark {
	background-color: var(--primary-black-color);
}

.invoice-list-item-upper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: space-between;
}

.invoice-list-item-lower {
	width: 100%;
	display: grid;
	row-gap: 10px;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
	justify-content: space-between;
}

.invoice-list-item-grid-date {
	order: 1;
}

.invoice-list-item-grid-status {
	order: 3;
	grid-row: 1 / 3;
	grid-column-start: 2;
}

.invoice-list-item-grid-amount {
	order: 2;
}

.invoice-list-item-grid-status {
	width: 117px;
	display: flex;
	column-gap: 10px;
	height: 48px;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.status-bg-green {
	background-color: rgb(51, 214, 159, 0.1);
}

.status-bg-orange {
	background-color: rgb(247,189,127, 0.1);
}

.status-bg-dark {
	background-color: rgb(55,59,84, 0.1)
}

.font-green {
	color: #33d69f;
}

.font-orange {
	color: #ff8f00;
}

.font-dark {
	color: var(--nav-bg-color);
}

.circle {
	width: 10px;
	height: 10px;
	border-radius: 9999px;
}

.circle-bg-green {
	background-color: #33d69f;
}

.circle-bg-orange {
	background-color: #ff8f00;
}

.circle-bg-dark {
	background-color: var(--nav-bg-color);
}

