.invoice-list-container {
	margin-top: 35px;
	height: 100%;
	width: 100%;
	padding-bottom: 100px;
}

.invoice-list-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 100%;
}

.empty-invoice-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.empty-invoice {
	width: 206px;
	height: 278px;
	display: flex;
	margin: 70px auto 0;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	row-gap: 30px;
}

.empty-image {
	width: 100%;
}

@media (min-width: 768px) {
	.invoice-list-wrapper {
		width: 672px;
		margin: 0 auto;
	}

	.empty-invoice {
		width: 341px;
		height: 342px;
		margin: 100px auto 0;
	}
}
