.payment-terms-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	max-width: 300px;
	position: relative;
}

.payment-terms-first-item {
	width: 100%;
	padding: 12px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	outline: 1px solid var(--bright-indigo-color);
	border-radius: 4px;
}

.payment-terms-first-item:hover, .active-border {
	width: 100%;
	padding: 12px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	outline: 1px solid var(--secondary-indigo-color);
	border-radius: 4px;
}

.arrow-icon {
	color: var(--primary-indigo-color);
	font-size: 20px;
	cursor: pointer;
}

.payment-terms-second-item {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 191px;
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.payment-terms-select {
	height: 191px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 8px;
	box-shadow: 0.3em 0.3em 1em var(--bright-indigo-color),
		0 0 0 var(--bright-indigo-color);
	background-color: #ffffff;
	z-index: 100;
}


.payment-terms-second-item span {
	border-bottom: 1px solid var(--bright-indigo-color);
	padding: 12px 0 12px 25px;
	cursor: pointer;
}

.payment-terms-second-item span:hover {
	color: var(--secondary-indigo-color);
	cursor: pointer;
}

.payment-terms-second-item span:last-child {
	border-bottom: none;
}

.active {
	color: var(--primary-indigo-color);
}
