.App {
	text-align: center;
}

.hidden {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.5s ease;
}

.visible {
	opacity: 1;
	height: auto;
	transition: opacity 0.5s ease;
}

.primary-color {
	color: var(--primary-indigo-color);
}

.primary-color:hover {
	color: var(--secondary-indigo-color);
}
