.app-container {
	text-align: center;
	background-color: var(--offwhite-color);
	height: 100vh;
	width: 100vw;
}

.app-wrapper {
	height: 100%;
	max-width: 375px;
	margin: 0 auto;
	padding: 0 32px;
}

.overflow-hidden {
	overflow: hidden;
}

.Container {
	width: 100vw;
}

.Wrapper {
	max-width: 375px;
	margin: 0 auto;
	padding: 0 32px;
}

.hidden {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.5s ease;
}

.visible {
	opacity: 1;
	height: auto;
	transition: opacity 0.5s ease;
}

.primary-color {
	color: var(--primary-indigo-color);
}

.primary-color:hover {
	color: var(--secondary-indigo-color);
}

@media (min-width: 768px) {
	.app-wrapper {
		max-width: 768px;
		margin: 0 auto;
		padding: 0 32px;
	}
}

@media (min-width: 1110px) {
	.app-wrapper {
		max-width: 1110px;
		margin: 0 auto;
		padding: 0 32px;
	}
}
