.app-container {
	font-family: 'League Spartan', sans-serif;
	min-height: 100vh;
	width: 100vw;
	padding-bottom: 100px;
}

.app-container-light {
	background-color: var(--offwhite-color);
	color: var(--primary-black-color);
}

.app-container-dark {
	background-color: var(--secondary-black-color);
	color: var(--white-color);
}

.app-wrapper {
	position: relative;
	height: 100%;
	max-width: 375px;
	margin: 0 auto;
	padding: 0 24px;
}

.overflow-hidden {
	overflow: hidden;
}

.container {
	width: 100vw;
}

.wrapper {
	max-width: 375px;
	margin: 0 auto;
	padding: 0 32px;
}

.hidden {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.5s ease;
	display: none;
}

/* .visible {
	opacity: 1;
	height: auto;
	transition: opacity 0.5s ease;
} */

.primary-color {
	color: var(--primary-indigo-color);
}

.primary-color:hover {
	color: var(--secondary-indigo-color);
}

.visible-content-lg-screen {
	display: none;
	overflow: hidden;
}

.visible-content-sm-screen {
	display: flex;
	overflow: hidden;
}


@media (min-width: 768px) {
	.app-wrapper {
		max-width: 768px;
		margin: 0 auto;
		padding: 0 48px;
	}

	.visible-content-lg-screen {
		display: inline;
		overflow: hidden;
	}

	.visible-content-sm-screen {
	display: none;
	overflow: hidden;
}
}

@media (min-width: 1110px) {
	.app-wrapper {
		max-width: 1110px;
		margin: 0 auto;
		padding: 0 32px;
	}
}
